# Systemd service file for testing
#
# Use e.g.
#   systemcli link <this_file> --user
# Then service can be controlled via
#   systemctl <cmd> bsrvd --user
# Remove link via:
#   systemctl disable bsrvd

[Unit]
Description=Borg Service Daemon
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/bsrvd.pid
ExecStart=/home/alex/bin/bsrvd -c /home/alex/bin/default.ini
ExecStop=/home/alex/bin/bsrvcli --shutdown

[Install]
WantedBy=multi-user.target
