[Unit]
Description=Borg Backup Service Daemon

[Service]
Type=dbus
BusName=de.alxg.bsrvd
ExecStart={{INSTALL_PREFIX}}/bin/bsrvd

[Install]
WantedBy=multi-user.target

