[Unit]
Description = Borg Backup Service Status Daemon

[Service]
Type = simple
ExecStart = {{INSTALL_PREFIX}}/bin/bsrvstatd

[Install]
WantedBy = multi-user.target

